.clock{
    position: absolute;
<<<<<<< HEAD
    width: 43em;
    height: 43em;
=======
    width: 45vw;
    height: 45vw;
>>>>>>> d01a60f4180563ec7a282ad51296af5eb96648f6
    z-index: 0;
    border-radius: 50%;
    /* background-color: rgba(255 , 255  , 255, 0.5); */
    /* box-shadow: 0 -20px 15px rgba(255, 255, 255, 0.3),
                inset   0   -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.05),
                50px 0 50px -15px rgba(145 ,140 ,140 ,30%); */
}
.dot{
    position: absolute;
    bottom:calc(50% - 10px);
    left: calc(50% - 10px);
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.hour{
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 5px;
    height: 50%;
    text-align: center;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(var(--rotation));
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 80%, rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%,rgba(255,255,255,0) 100%);
}

.hour:hover{
    background-color: rgb(165, 255, 238);
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 80%, rgba(165, 255, 238,1) 80%,rgba(165, 255, 238,1) 100%,rgba(255,255,255,0) 100%);

}
.hour12{
    --rotation: 0deg;
}
.hour1{
    --rotation: 30deg;
}
/* .hour1::before{
    position: relative;
    left: 10px;
    content: '關於社群';
    color: white;
    left: 10px;
} */
.hour2{
    --rotation: 60deg;
}
.hour3{
    --rotation: 90deg;
}
.hour4{
    --rotation: 120deg;
}
.hour5{
    --rotation: 150deg;
}
.hour6{
    --rotation: 180deg;
}
.hour7{
    --rotation: 210deg;
}
.hour8{
    --rotation: 240deg;
}
.hour9{
    --rotation: 270deg;
}
.hour10{
    --rotation: 300deg;
}
.hour11{
    --rotation: 330deg;
}
.mintue{
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 40%;
    background-color: white;
    transform-origin: bottom;
    transform: rotate(0deg);
    /* border-radius: 10px; */
    /* padding-left: -5px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.2s;
}
.hand{
    position: absolute;
    bottom: 50%;
    left: calc(50% - 5px);
    width: 10px;
    height: 20%;
    padding-left: -5px;
    background-color: white;
    transform-origin: bottom;
    transform: rotate(0deg);
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.2s;
}

